/*********

COMMON

*********/

body{
    font-family: "Monspace",sans-seriff;
}

.font-primary{
    color: #00ABAE;
}

.title-icon{
    font-size: 20px;
    font-weight: bold;
}

.About{
    text-align: right;
}

.Projects{
    text-align: right;
}


/************

ABOUT

************/

#about{
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}

#about img{
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;   
}

#about .name{
    font-size: 19px;
}

#about .vocation{
    font-size: 17px;
    color: #a8a8ab;
    margin-bottom: 10px;
}

#about .skills{
    font-size: 14px;
    color: #00ABAE;
    margin-bottom: 10px;
}

#about .email{
    font-size: 14px;
    margin-top: 14px;
}

#about .icons{
    font-size: 30px;
    margin-top: 20px;
}

#about .icons a{
   color: black;
}


ul.navbar-nav.ms-auto.mb-2 {
    position: relative;
    left: 90%;
}